body {
    background-color: rgb(166, 166, 247);
    color: white;
    font-family: "Chakra Petch", serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    margin: 0;
}

button {
    background-color: rgb(168, 164, 164);
    color: yellow;
    font-family: "Chakra Petch", serif;
}

.passo {
    display: none;
}

.passo.ativo{
    display: block;
}
